.calculator-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
 
}

.buttons-container {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  
}

.error-message {
  color: rgb(236, 6, 6);
  margin-top: 10px;
}

.success-message {
  color: #1c8e51;
  margin-top: 10px;
}
